.Completed .TaskCompleteTotal {
    color: #cc9a9a;
}
.Completed .Title {
    color: #fff;
    margin: 20px 0px 10px 0;
    position: relative;
}
.Completed .TaskCompleteTotal {
    padding-left: 5px;
}

.Completed .ToggleAll {
    display: none;
}

.Completed .ToggleAll + label:before {
    content: "❯";
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: -2px;
    left: 4px;
    transform: rotate(90deg);
    cursor: pointer;
}
