* {
    padding: 0;
    margin: 0;
}
.app {
    font-size: 16px;
    max-width: 500px;
    background-color: #5e6bc5;
    margin: auto;
    padding: 20px 10px;
    box-shadow: 0px 0px 5px #5e6bc5;
}
.new-task {
    width: calc(100% - 40px);
    height: 45px;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 0 20px;
    border: 0;
}
h1 {
    font-size: 25px;
    margin: 0 0 20px 0;
    color: white;
}

li {
    list-style: none;
    background: white;
    margin-bottom: 10px;
    padding: 15px 5px;
    border-radius: 5px;
    position: relative;
}
label {
    margin-left: 30px;
    color: #383636;
}
.view {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* css TaskList */
.tasksList {
    color: red;
}
.tasksList .taskItem .desTroy {
    margin: auto 0;
    font-size: 20px;
    color: #cc9a9a;
    background: none;
    border: none;
    cursor: pointer;
}

.toggle {
    height: 20px;
    width: 20px;
    background: none;
    opacity: 1;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: 1px solid #9a9797;
    appearance: none;
    cursor: pointer;
}
.toggle:focus,
.tasksList .taskItem .desTroy {
    outline: none;
}
.toggle:checked::after {
    content: "✓";
    color: #fff;
    font-size: 16px;
}
.toggle:checked {
    background-color: #5e6bc5;
    border: 1px solid #5e6bc5;
}
.toggle:checked + label {
    text-decoration: line-through;
    color: #968888;
}
